.main-logo {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    background-size: cover;
    margin-top: -3px;
    position: relative;
    top: -10px;
    left: 10px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin-right: auto;
    
}
    
